/* h1{
    text-align: center;
    color: red; */
}
p{
    color: blue;
    text-align: center;
    text-size-adjust: 40px;
}
/* table, th, td {
    border: 1px solid black;
    width: 20%;
  } */